body{
    background-color: #E1F0FD;
}
    h1{
        text-align: center;
        margin-top: 10px;
        font-family: 'Roboto', sans-serif;
        
    }
    body > div{
        width: 800px;
        margin-left: calc((100% - 800px)/2);
        margin-top: 50px;
    }
        section{
            margin-left: 1.5%;
            margin-right: 1.5%;
            float:left; 
            margin-top: 30px;
            display:inline-block;
            border-radius: 20px;
            width: 31.3%;
            background-color: white;
            text-align: center;
        }
            img{}
            p{
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                line-height: 1.5;
                display: inline-block;
                font-size: 20px; 
                margin-left: 40px; 
                margin-right: 40px;
            }
                section > p > mark{
                    background-color: #E4F8ED;
                }
            section > a{
                color: #26B966;
                background-color: #E4F8ED;
            }    
            a{
                text-decoration: solid; 
                padding-top: 10px;
                padding-bottom: 10px;
                padding-left: 20px;
                padding-right: 20px; 
                font-size: 12px; 
                display:inline-block; 
                margin-top: 20px; 
                margin-bottom: 20px; 
                text-transform: uppercase; 
            }
        main{
            
            margin-right: 1.5%;
            display:inline-block;
            border-radius: 20px;
            width: 31.3%;
            background-color:white;
            text-align: center;
        }
            img{
                display:inline-block;  
                margin-left: auto;
                margin-right: auto; 
                margin-top: 40px;
            }
            p{}
                mark{
                    display:inline;  
                    font-size: 20px;
                    text-align: center;
                }
                main > p > mark {
                    background-color: #FFF7E0;
                }
            main > a{
                margin-top: 40px; 
                color: #FFB21D;
                background-color: #FFF7E0;
            }
        div > div {
            margin-right: 1.5%;
            display:inline-block;
            border-radius: 20px;
            width: 31.3%;
            background-color:white;
            text-align: center;
            float: right;  
            margin-top: 30px;
        }
        
            div > div > img{
                margin-right: 5%
            }
            div > div > p{
                margin: 0;
            }
                div > div > p > mark{
                    background-color: #FEECEC;
                }
                div > a {
                    margin-top: 90px; 
                    color: #FE6666;
                    background-color: #FEECEC;
                }
    table{
        border: none;
        margin-top: 150px;
        margin-left: auto;
        margin-right: auto;
    }
        tr{}
            td {
                border: none;
            }
                td > img{
                    margin: 0; 
                    display: table-cell; 
                    vertical-align: middle;
                }
            td{}
                td > p{
                    display: table-cell; 
                    vertical-align: middle;
                }